@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #0a0a0a;
  --foreground: #ededed;
}

body {
  color: var(--foreground);
  background: var(--background);
}

main {
  @apply w-3/4 mx-auto
}

h1 {
  @apply text-3xl font-bold
}

h2 {
  @apply text-2xl font-bold
}

ul > li {
  @apply ml-2 list-disc
}

ul {
  @apply ml-4
}

hr {
  @apply m-2 mt-4 h-4
}

input[type=text], input[type=password], select, textarea {
  @apply bg-gray-900 border-2 border-white m-2 p-1 rounded-lg w-full;
}
